.idea

# dotenv
.env
 #ds_store
.DS_Store



# virtualenv
.venv
venv/
ENV/
#pyvenv.cfg
pyvenv.cfg
.idea
.gitignore
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# txt files
src/primers_generation/advance_generator/output_9_len_primer_internal_advance_generator.txt
src/primers_validation/mis-validator_wip/output_10_len_primer_internal_advance_generator.txt
src/primers_generation/advance_generator/output_11_len_primer_internal_advance_generator.txt
src/primers_generation/advance_generator/output_12_len_primer_internal_advance_generator.txt
src/primers_generation/advance_generator/output_13_len_primer_internal_advance_generator.txt
src/primers_generation/advance_generator/output_14_len_primer_internal_advance_generator.txt
src/primers_validation/trie-validator/output_15_len_primer_internal_advance_generator.txt
/data
/data
